/* General styles */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* Logo styles */
.logo {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 0.5em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card styles */
.card {
  padding: 1em;
}

/* Read the Docs link */
.read-the-docs {
  color: #888;
}

/* Navbar styles */
.navbar {
  background-color: #8b0c0c;
  padding: 0.5rem 0;
}

.navbar-brand {
  color: #fff;
  font-size: 1.2rem;
}

.navbar-toggler {
  border-color: #fff;
}

.nav-link {
  color: #fff !important;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.nav-link:hover {
  color: #f0f0f0 !important;
}

/* Video container styles */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-item {
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 1rem;
}

.video-item h2 {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .video-item {
    flex: 1 1 100%;
  }
}

/* Additional mobile styles */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-toggler-icon {
    background-color: #fff;
  }

  .nav-link {
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }

  .video-item {
    margin-bottom: 0.5rem;
  }
}
